@keyframes stop {
  0% {
    opacity: 1;
 }
  20% {
    opacity: 1;
 }
  40% {
    opacity: 1;
 }
  60% {
    opacity: 0.1;
 }
  80% {
    opacity: 0.1;
 }
  100% {
    opacity: 0.1;
 }
}
@keyframes ready {
  0% {
    opacity: 0.1;
 }
  20% {
    opacity: 0.1;
 }
  40% {
    opacity: 1;
 }
  50% {
    opacity: 0.1;
 }
  60% {
    opacity: 0.1;
 }
  80% {
    opacity: 0.1;
 }
  86% {
    opacity: 1;
 }
  100% {
    opacity: 1;
 }
}
@keyframes go {
  0% {
    opacity: 0.1;
 }
  40% {
    opacity: 0.1;
 }
  60% {
    opacity: 1;
 }
  80% {
    opacity: 1;
 }
  83% {
    opacity: 0.1;
 }
  100% {
    opacity: 0.1;
 }
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
    -webkit-transform: translateZ(0);
    animation-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: translateZ(0);
}
40%, 43% {
  -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
  -webkit-transform: translate3d(0,-30px,0);
  animation-timing-function: cubic-bezier(.755,.05,.855,.06);
  transform: translate3d(0,-30px,0);
}
70% {
  -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
  -webkit-transform: translate3d(0,-15px,0);
  animation-timing-function: cubic-bezier(.755,.05,.855,.06);
  transform: translate3d(0,-15px,0);
}
90% {
  -webkit-transform: translate3d(0,-4px,0);
  transform: translate3d(0,-4px,0);
}
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
.wow {
  visibility: hidden;
}
.m-0-30, .ourServices .inner-ourServices, .superbOffers .inner-superb {
  margin: 0 50px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
section {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .mobile-nav {
    display: none;
 }
  .header.scrolled .mobile-nav {
    display: none;
 }
}
@media (min-width: 768px) {
  .col-md-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
  }
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.workingSection {
  background: url(https://versa.ng/partner-row2-3.7f2485bd54afc0c25394.png) top right no-repeat;
  height: auto;
  position: relative;
  transform: rotate(-180deg);
}
.workingSection .inner-workingSection {
  margin: 0 5px;
  padding: 50px 50px 6rem;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  box-shadow: 0 2px 5px 4px rgba(5,3,51,.1)
}
.workingSection .inner-workingSection img {
  vertical-align: middle;
  border-style: none;
  width: 35rem;
}
.workingSection .inner-workingSection .working-content {
  padding: 4rem 2em;
}
.workingSection .inner-workingSection .working-content h3 {
  font-size: 2.93rem;
  font-weight: bold;
  color: #1d1d20;
}
.workingSection .inner-workingSection .working-content article {
  color: #1d1d20;
  line-height: 1.7;
  font-size: 1.1rem;
  font-weight: lighter;
  padding: 2rem 0 0 0;
}
.workingSection .inner-workingSection .working-content .btn-holder {
  margin-top: 3em;
}
.workingSection .inner-workingSection .working-content .btn-holder .btn {
  border-radius: 50px;
  outline: 0;
  border: none;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}
.workingSection .inner-workingSection .working-content .btn-holder .btn:hover {
  transform: translateY(-5%);
  box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
  -webkit-transition: ease all 0.7s;
  -moz-transition: ease all 0.7s;
  -ms-transition: ease all 0.7s;
  -o-transition: ease all 0.7s;
  transition: ease all 0.7s;
}
.workingSection .inner-workingSection .working-content .btn-holder .btn-invest {
  padding: 0.61em 2.3em;
  width: 26%;
  height: 45px;
  background: #4f5fbe;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.workingSection .inner-workingSection .working-content .btn-holder .btn-invest2 {
  padding: 0.61em 2em !important;
  height: 45px;
  background: #4f5fbe;
  color: #fff !important;
  font-size: 1rem !important;
  font-weight: lighter !important;
}
.workingSection .inner-workingSection .working-content .btn-holder .btn-investment, .workingSection .inner-workingSection .working-content .btn-holder .landing .inner-landing .get-started .btn-work-green, .landing .inner-landing .get-started .workingSection .inner-workingSection .working-content .btn-holder .btn-work-green, .workingSection .inner-workingSection .working-content .btn-holder .ourServices .get-started .btn-work-green, .ourServices .get-started .workingSection .inner-workingSection .working-content .btn-holder .btn-work-green, .workingSection .inner-workingSection .working-content .btn-holder .superbOffers .btn-work-green, .superbOffers .workingSection .inner-workingSection .working-content .btn-holder .btn-work-green, .workingSection .inner-workingSection .working-content .btn-holder .btn-work-green {
  border-radius: 50px !important;
  padding: 0.41em 1em;
  background: #4f5fbe;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1px;
}
.workingSection .inner-workingSection .working-content .btn-holder .btn-work-green {
  background: #26e8ad;
  color: #fff;
}
.workingSection .inner-workingSection .working-content .btn-holder .btn-superb {
  padding: 0.61em 2em;
  background: #fff;
  color: #4f5fbe;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.workingSection .inner-workingSection .working-content .btn-holder .btn-sub-f {
  background: #000;
  color: #fff;
}
.workingSection .inner-workingSection .circle-section {
  width: 350px;
  animation: bounce 5s linear 10s infinite !important;
}
.workingSection .hidingImage {
  background: url("https://versa.ng/partner-row2-3.7f2485bd54afc0c25394.png") no-repeat -100% 522%;
}
