html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: .9375rem;
  overflow-x: hidden;
  color: #333;
  font-family: open sans, sans-serif;
}
*, ::after, ::before {
  box-sizing: border-box;
}
@keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0,-100%,0);
    opacity: 0;
    transform: translate3d(0,-100%,0);
}
100% {
  -webkit-transform: translateZ(0);
  opacity: 1;
  transform: translateZ(0);
}
}
a {
  color: inherit;
  text-decoration: none;
}
.wow {
  visibility: hidden;
}
section {
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
.col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
}
@media (min-width: 992px) {
  .mobile-nav {
    display: none;
 }
  .header.scrolled .mobile-nav {
    display: none;
 }
}
.landing {
  background: #fff;
  width: 100%;
  background-size: cover;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 10%;
  position: relative;
}
.landing .col-md-5 {
  display: flex;
  min-width: 50%;
  margin-left: -5%;
}
.landing .inner-landing {
  padding: 4.5rem 3.5rem 2em;
}
.landing .inner-landing .row {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}
.landing .inner-landing h2 {
  font-size: 3.2rem;
  color: #4f5fbe;
  font-weight: bold;
  line-height: 1.25;
}
.landing .inner-landing span {
  color: #707070;
}
.landing .inner-landing .lower-content {
  margin-top: 2em;
  color: #707070;
  word-break: break-all;
  font-weight: lighter;
  padding: 0;
  font-size: 1.1rem!important;
  line-height: 42px!important;
  letter-spacing: 1.2px;
  text-align: justify;
}
.landing .inner-landing .get-started {
  margin-top: 4em;
}
.landing .inner-landing .get-started .btn {
  border-radius: 50px;
  outline: 0;
  border: none;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}
.landing .inner-landing .get-started .btn:hover {
  transform: translateY(-5%);
  box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
  -webkit-transition: ease all 0.7s;
  -moz-transition: ease all 0.7s;
  -ms-transition: ease all 0.7s;
  -o-transition: ease all 0.7s;
  transition: ease all 0.7s;
}
.landing .inner-landing .get-started .btn-invest {
  padding: 0.61em 2.3em;
  width: 26%;
  height: 45px;
  background: #4f5fbe;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.landing .inner-landing .get-started .btn-invest2 {
  padding: 0.61em 2em !important;
  height: 45px;
  background: #4f5fbe;
  color: #fff !important;
  font-size: 1rem !important;
  font-weight: lighter !important;
}
.landing .inner-landing .get-started .btn-investment, .landing .inner-landing .get-started .btn-work-green, .landing .inner-landing .get-started .ourServices .get-started .btn-work-green, .ourServices .get-started .landing .inner-landing .get-started .btn-work-green, .landing .inner-landing .get-started .superbOffers .btn-work-green, .superbOffers .landing .inner-landing .get-started .btn-work-green, .landing .inner-landing .get-started .workingSection .inner-workingSection .working-content .btn-holder .btn-work-green, .workingSection .inner-workingSection .working-content .btn-holder .landing .inner-landing .get-started .btn-work-green {
  border-radius: 50px !important;
  padding: 0.41em 1em;
  background: #4f5fbe;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1px;
}
.landing .inner-landing .get-started .btn-work-green {
  background: #26e8ad;
  color: #fff;
}
.landing .inner-landing .get-started .btn-superb {
  padding: 0.61em 2em;
  background: #fff;
  color: #4f5fbe;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.landing .inner-landing .get-started .btn-sub-f {
  background: #000;
  color: #fff;
}
.landing .inner-landing .row .circle {
  width: 60%;
  height: 100%;
  background: url("https://versa.ng/rename.9b2e219a43fea0e79926.svg") no-repeat right;
  background-size: contain;
  margin-top: 20%;
}
.landing .inner-landing .row .circle:hover {
  transform: translateY(-5px);
  -webkit-transition: ease all 0.5s;
  -moz-transition: ease all 0.5s;
  -ms-transition: ease all 0.5s;
  -o-transition: ease all 0.5s;
  transition: ease all 0.5s;
}
.landing .inner-landing .row .circle2 {
  width: 60%;
  height: 70%;
  margin: 5% -10% -10%;
  background: url("https://versa.ng/mobile.14a5961867e7a0d383e4.svg") no-repeat right;
  background-size: contain;
}
.landing .inner-landing .row .circle2:hover {
  transform: translateY(-5px);
  -webkit-transition: ease all 0.5s;
  -moz-transition: ease all 0.5s;
  -ms-transition: ease all 0.5s;
  -o-transition: ease all 0.5s;
  transition: ease all 0.5s;
}
.section-container {
  padding: 10px 20px 0;
  background: rgba(5, 3, 51, .3);
}
.title-head {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  text-transform: capitalize;
}
.f-13 {
  font-size: 1em !important;
}

