<body>
<section class="workingSection" id="workingsection">
  <div class="inner-workingSection">
    <div class="row">
      <div class="hidingImage">
        <div class="working-content  wow zoomIn animated" data-wow-delay="0.79s" data-wow-duration="1.5s"
        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.79s; animation-name: zoomIn;">
            <h3>Why partner with us?</h3>
            <article> We have a team of seasoned investment analysts committed to exploring and providing you with alternative investment opportunities.
            </article>
            <article>Every portfolio is well researched and your funds diligently managed in a way that provides a balanced
              investment mix that suits your financial goal.
            </article>
            <div class="btn-holder">
              <a class="btn btn-invest" routerlink="/career" href="/career">Join Us</a>
            </div>
        </div>
      </div>
      <!--<div class="">-->
        <div class="circle-section animated wow fadeInRight animated" data-wow-delay="0.75s" data-wow-duration="1.5s"
        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.75s; animation-name: bounce;">
          <img alt="work-with-us" src="https://versa.ng/assets/images/partner01.svg">
          <!--<div class="mobile-overlay">

          </div>-->
        </div>
      <!--</div>-->
    </div>
  </div>
</section>
</body>
